body, #mainWrapper {
	height: 100%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  position:fixed;
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.error{
	color: red;
}

.success{
	color: green;
}

form fieldset { padding: 20px; }
div.control-group { margin-bottom: 20px; }
div.control-group label.control-label { width: 300px; }
div.control-group div.controls { width: 400px; }
div.controls span { color: red; font-size: 0.8em; }

div.container { margin: 0 auto; width: 940px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { border-bottom: 1px solid #eee; padding-bottom: 13px; }
h1 small { font-size: 0.6em; color: #ccc; }

div.alert { border-radius: 4px; margin: 5px 0; padding: 8px; background-color: #dff0d8; color: #468847; }
